


 mat-card {
    width:400px;
      height:auto;
      box-shadow: 5px 5px 4px rgba(0,0,0,0.4);
      padding:15px;
    &img{
    height:500px;
    object-fit:cover;
    }
}
mat-card-content{
    padding:15px;
}

button{
    position:absolute;
    bottom:10px;
    left:20px;
}

